.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: row;
}

.player{
  padding-right: .25rem;
  padding-left: .25rem;
  text-align: center;
  line-height: 30px;
  border-right: .5px solid white
}